@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #93b1a6;
  background: #183d3d;
  margin: 0 50px;
}

.scrollbar-hide {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE ve Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0.1rem; /* Chrome ve Safari */
  display: none; /* Chrome, Safari ve Opera için kaydırma çubuğunu gizle */
}
